@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --p-fc:#d0d4f1;
  --s-fc:#7367f0;
  --a-fc:#ffffff;

  --dark-fc:rgb(203 213 225);
  --light-fc:black;

  --border-opacity: 0.5;

  --p-f-opacity:78%;
  --s-f-opacity:68%;

  --p-color-bg:#2f3349;

  --fs-xm:12px;
  --fs-sm:16px;
  --fs-md:20px;
  --fs-lg:24px;
  --fs-xl:32px;

  --fw-300:300;
  --fw-400:400;
  --fw-500:500;
  --fw-700:700;

  --hover-bg:#51556c;
}

body {
    height: 100vh;
    
    opacity: var(--p-f-opacity);
    font-weight: var(--fw-300);
}

/* darkMode */
.dark-mode{
  background-color: var(--p-color-bg);
  color:var(--p-fc) !important;
}

.darkTheme-font-color{
  color:var(--dark-fc);
}

.darkTheme-border{
  border: 1px solid rgba(208, 212, 241, 0.5);
}

/* lightMode */
.light-mode{
  background-color: #fff;
  color:black !important;
}
.lightTheme-font-color{
  color:var(--light-fc);
}

.lightTheme-border{
  border: 1px solid black;
}


.main-flex-container{
  height: 100%;
  display: flex;

}

.main-flex-item1 {
  width: 270px;
  position: fixed;
  
  z-index: 9999;

}

.icon-hover{
  border-radius: 50%;
  padding:2px;
  transition: background-color 0.2s ease-out;
}


.darkTheme-icon-hover:hover{
  background-color: var(--hover-bg);
}

.lightTheme-icon-hover:hover{
  color: blue;
}


/* navbar */

.nav-container{
  margin-top:12px;
  
 border-radius: 5px;
  
  padding-inline:5px;
  padding-block:8px;
 
}

/* sidebar */

.sidebar-header{
  transition: all 0.3s ease-in;
}


.hover-aside-icon{
  width: 100%;
  padding-block: 5px;
  padding-inline:100px;
  transition: background-color 0.2s ease-out;
  border-radius: 5px;
}

.darkTheme-hover-aside-icon:hover{
  background-color: var(--hover-bg);
  color:white;
}

.lightTheme-hover-aside-icon:hover{
  background-color: white;
  color:black;
  font-weight: var(--fw-500);
}

.logo{
  
  z-index: 9999;
}

  .primary-navigation{

    z-index: 9999;

    position: absolute;
    left: 0;
    top: 60px;

    width: 0px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;

    flex-direction: column;
    gap:2em;
  
    padding:min(24vh, 5rem) 0em;

    background-color: #2f3349;

  }

  .primary-navigation li {
    text-align: center;
  }

  .primary-navigation.active{
    width: 270px;
  }


  /* dashboard */

  .dashboard{
    color:white;
  }

  .bar-chart h2{
    opacity: var(--s-f-opacity);
    font-size: var(--fs-sm);
  }

  .custom-tooltip{

    padding:8px;

    background-color: var(--p-color-bg);
    color:white;
    
    border-radius: 5px;
  }

  /* filter page */

  .filter-data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    .filter-data{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .filter-select{

    display: flex;
    flex-direction: column;

    background-color: var(--p-color-bg);

    border-radius: 5px;
  }